body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.ako-topnav {
  overflow: hidden;
  background-color: white;
  padding:1%;
  border-bottom: 2px solid #ebeef4;
}

.ako-topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  vertical-align: middle;
  margin-left:2px;
  background-color: #dcedf7;
}

.ako-topnav .header-logo {
  display:currently failing;
}

.ako-topnav a:hover {
  background-color: #c4deed;
  color: black;
}

.ako-topnav a.active {
  background-color: #2673a0;
  color: white;
}

/* Main Content */

.ako-main-container {
	margin:1%;
	overflow: auto;
}

.ako-main-content {
	margin-left:15%;
}

/* Main Side bar */

.ako-main-sidebar {
	display:block;
	width:14%;
	display: block;
	float:left;
	margin:1%;
}

.ako-main-sidebar {
	display: block;
	background-color:#dcedf7;
	padding:5px;
}

.ako-main-sidebar .ako-sidebar-button {
	height:100vh !important;
	width:10px;
	float:right;
	border:0px;
	background-color:#c4deed;
}

.ako-main-sidebar .ako-sidebar-button:hover {
	background-color:#2673a0;
}

.ako-main-sidebar a {
	text-decoration: none !important;
	float:left;
	color:#2578a8;
}

.ako-sidebar-heading {
	text-decoration: none !important;
	font-weight:bold;
	float:left;
}

/**/
.ako-block-title {
	background-color:#c4deed;
	width:95% !important;
	padding:10px;
	margin-top:5px;
	margin-left:1.5%;
	margin-bottom:5px;
	border-radius:5%;
	display: block;
	font-weight:bold;
	color:#2578a8;
	font-size:20px;
}